@import "tailwindcss";

:root {
  /* MODE CLAIR : On met un gris très pâle au lieu du blanc pur */
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

/* MODE SOMBRE */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}